
.player-list-ctn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    transition: all ease-in-out 1s;
}

.player-hidden {
    transform: translate(-500px, 500px);
}

.player-list {
    background-color: #d6d6d6;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: .95;
    font-weight: bold;
    text-align: center;
}

.player-you {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.current-player-label {
    background-color: forestgreen;
    padding: 3px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-other {
    margin-top: 5px;
}
