
.room-id-container {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    transition: all ease-in-out 1s;
}

.room-id-panel {
    background-color: #d6d6d6;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: .95;
}

.room-id-hidden {
    transform: translateY(500px);
}

.room-id-tooltip {
    position: absolute;
    transform: translate(0px, -200%);
    transition: opacity ease-in-out 500ms;
    opacity: 1;
    border-radius: 10px;
    background-color: #555555;
    color: #fff;
    padding: 5px;
}

.hidden {
    opacity: 0;
}
